.bottom-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  height: 80px;
  width: 600px;
  background-color: white;
}

.home-button {
  height: 48px;
  margin-left: 20px;
}

.search-button {
  height: 30px;
}

.add-photo-button {
  height: 40px;
}

.video-button {
  height: 50px;
}

.profile-button {
  height: 50px;
  margin-right: 20px;
}